* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: none;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  background-color: #2d4159;
  height: 50vh;
}

.container .container2 {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container2 .container3 {
  background-color: #fafafa;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px rgba(137, 137, 137, 0.1);
          box-shadow: 3px 3px rgba(137, 137, 137, 0.1);
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.container .header .logo img {
  width: 30px;
}

.container .header .logo h1 {
  font-size: 20px;
  padding: 5px;
}

.container .header .selection input {
  padding: 5px;
  outline: none;
}

.container .header .selection button {
  border: none;
  background: #2d4159;
  color: white;
  padding: 8px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.container .worldwide {
  margin: 10px auto;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  width: 80%;
}

.container .worldwide h2 {
  font-size: 18px;
  padding: 5px;
}

.container .worldwide .worldwide_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.container .worldwide .worldwide_stats .confirmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #78244c;
  width: 180px;
  min-height: 20vh;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.container .worldwide .worldwide_stats .confirmed i {
  color: white;
  font-size: 40px;
}

.container .worldwide .worldwide_stats .confirmed #confirmed_number {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.container .worldwide .worldwide_stats .confirmed span {
  font-size: 15px;
  color: white;
}

.container .worldwide .worldwide_stats .confirmed #text {
  color: #e3e3e3;
}

.container .worldwide .worldwide_stats .recovered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0677a1;
  width: 180px;
  min-height: 20vh;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.container .worldwide .worldwide_stats .recovered i {
  color: white;
  font-size: 40px;
}

.container .worldwide .worldwide_stats .recovered #recovered_number {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.container .worldwide .worldwide_stats .recovered span {
  font-size: 15px;
  color: white;
}

.container .worldwide .worldwide_stats .recovered #text {
  color: #e3e3e3;
}

.container .worldwide .worldwide_stats .deaths {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #59253a;
  width: 180px;
  min-height: 20vh;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.container .worldwide .worldwide_stats .deaths i {
  color: white;
  font-size: 30px;
}

.container .worldwide .worldwide_stats .deaths #deaths_number {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.container .worldwide .worldwide_stats .deaths span {
  font-size: 15px;
  color: white;
}

.container .worldwide .worldwide_stats .deaths #text {
  color: #e3e3e3;
}

.container .country {
  margin: 10px auto;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  width: 80%;
}

.container .country h2 {
  font-size: 18px;
  padding: 5px;
}

.container .country .country_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.container .country .country_stats .confirmed2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2d4159;
  width: 180px;
  min-height: 20vh;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.container .country .country_stats .confirmed2 i {
  color: white;
  font-size: 40px;
}

.container .country .country_stats .confirmed2 #confirmed_number2 {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.container .country .country_stats .confirmed2 #text {
  color: #e3e3e3;
}

.container .country .country_stats .recovered2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #895061;
  width: 180px;
  min-height: 20vh;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.container .country .country_stats .recovered2 i {
  color: white;
  font-size: 40px;
}

.container .country .country_stats .recovered2 #recovered_number2 {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.container .country .country_stats .recovered2 #text {
  color: #e3e3e3;
}

.container .country .country_stats .deaths2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #78244c;
  width: 180px;
  min-height: 20vh;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.container .country .country_stats .deaths2 i {
  color: white;
  font-size: 40px;
}

.container .country .country_stats .deaths2 #deaths_number2 {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.container .country .country_stats .deaths2 #text {
  color: #e3e3e3;
}

@media only screen and (max-width: 1024px) {
  .container .container2 {
    width: 100%;
  }
  .container .container2 .container3 {
    height: 100vh;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: white;
  }
}
/*# sourceMappingURL=style.css.map */